* {
  margin: 0;
  padding: 0;
}

.main-body {
  padding-top: 6%;
  margin: 0 auto;
  width: 98%;
  text-align: center;
}

/* -----Header----- */
.header {
  background-color: rgb(165, 224, 248);
  display: flex;
  justify-content: space-between;
  padding: 0 10% 0 7%;
  position: fixed;
  z-index: 9999;
  border-bottom: blue;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

.logo img {
  width: 10%;
  height: auto;
}

.header-nav {
  margin-right: 7%;
  padding: 2% 0 0 0 ;
  display: flex;
}

.header-nav li {
  list-style: none;
  text-decoration: none;
}

.header-nav li:not(:first-child) {
  padding-left: 8%;
}

.header-nav li a {
  color: #000;
}

.nav-link {
  padding: 0;
}

.nav-login {
  margin-right: 20%;
}

/* -----Footer page----- */
.footer {
  width: 98%;
  margin: 2% auto;
  text-align: center;
}

/* -----Home page----- */
/* .home-body {
  background-image: url("");
  background-color: rgb(255, 255, 255, 0.8);
  background-blend-mode: lighten;
} */

.home-inside {
  margin: 10% 20%;
  padding: 6% 10%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.20);
}


/* -----CatInfo page----- */
.wrap-cats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cats-cards {
  margin: 0;
  width: 45%;
}

.cats-cards img {
  display: inline-block;
  width: 80%;
  height: auto;
  vertical-align: top;
}

.card,
.accordion {
  width: 90%;
  margin: 0 auto;
}


/* -----Contact Page----- */
.contact-body {
  display: flex;
  justify-content: center;
  padding-top: 8%;
}

.contact-left {
  border: 1px solid;
  margin-right: 7%;
  height: 80%;
  width: 34%;
}

.contact-right {
  border: 1px solid;
}

/* -----resevation page----- */
.reservations-body button {
  margin: 2% 4%;
  padding: 1% 2%;
  font-size: 20px;
}

/* -----Booking Page----- */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
