

/* -----Header----- */
.header {
  background-color: rgb(165, 224, 248);
  display: flex;
  justify-content: space-between;
}
.header-nav {
  padding: 0;
  display: flex;
}

.header-nav li {
  list-style: none;
  text-decoration: none;
}

.header-nav li a {
  color: #000;
}

.nav-link {
  padding: 0;
}

/* -----Home Page */
/* .home-body {
  background-image: ;
} */

/* -----CatInfo page----- */
.cats-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cats-cards {
  margin: 0 10%;
}

/* -----Contact Page----- */
.contact-body {
  display: flex;
}
.contact-left {
  border: 1px solid;
  margin-right: 10%;
}

.contact-right {
  border: 1px solid;
}

/* -----Booking Page----- */






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
